body {
    font-family: 'Arial', sans-serif;
    background-color: #C7D2DC;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #2E3257;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: #2E3257;
    margin-bottom: 20px; /* Added margin for separation */
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #C7D2DC;
    border-radius: 4px;
}

.sub {
    background-color: #2E3257;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
}

.sub:hover {
    background-color: #1F213A;
}

a {
    text-decoration: none;
    color: #2E3257;
    font-weight: bold;
}

a:hover {
    color: #1F213A;
}
