<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
     <link rel="stylesheet" href="/admin.css">
    <link rel="website icon" type="png" href="logo-underpro-3.png" style="align-items: center;">
    <title>NayaRecruiter</title>
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Admin Panel</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Home</span>
        </a>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Home</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="admin_to_recruiter.html">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Recruiter</span>
          </a>
          
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="admin_to_recruiter.html">Recruiter</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="client.html">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Client</span>
          </a>
          
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="client.html">Client</a></li>
          
        </ul>
      </li>
      <li>
        <a href="candidate.html">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="link_name">Candidate</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="candidate.html">Candidate</a></li>
        </ul>
      </li>
     
      
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        <div class="profile_name">Farid Sheikh</div>
        <div class="job">Admin</div>
        <div id="currentDate" style="color: aliceblue;"></div>
      </div>
      <i class='bx bx-log-out' id="admin-logout"></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">System Administrator</span>
    </div>


    <header>
      <h1>Welcome to NayaRecruiter</h1>
    </header>
  
    <section class="flex-container">
      <div class="app-description">
        <p>NayaRecruiter is an Employee Management app designed to streamline your HR processes and make employee management efficient and organized.</p>
        <p>Get started today and take control of your workforce!</p>
      </div>
  
      <img src="EMS-img.jpg" alt="NayaRecruiter">
    </section>

  
    <div class="developers">
      <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
              <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <h3>About <span> Developers</span></h3><br>
                <div class="line"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                  <div class="social-info"><a href="https://www.instagram.com/saify_sheikh_1/" target="_blank"><i class="fa fa-instagram"></i></a><a href="https://github.com/SaifySheikh" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/saify-sheikh/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                </div>
                <div class="single_advisor_details_info">
                  <h6>Mohammad Saify Sheikh</h6>
                  <p class="designation">Full stack Developer</p>
                </div>
              </div>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">

                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">

                  <div class="social-info"><a href="https://www.instagram.com/aka_sujal_/"><i class="fa fa-instagram"></i></a><a href="https://twitter.com/B67Sujal"><i class="fa fa-twitter"></i></a><a href="https://www.linkedin.com/in/sujal-agrawal-655781230/"><i class="fa fa-linkedin"></i></a></div>
                </div>
                <div class="single_advisor_details_info">
                  <h6>Sujal Agrawal</h6>
                  <p class="designation">Full Stack Developer</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
  </div>
  <br><br>
  <div class="footer">
    <p>&copy; 2024 NayaRecruiter. All rights reserved.</p>
  </div>

  </section>
  
  <script src="admin.js"></script>
</body>
</html>
