<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/recruiter.css">
    <link rel="website icon" type="png" href="logo-underpro-3.png" style="align-items: center;">
    <title>NayaRecruiter</title>
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Recruiter Panel</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#recruiter-home">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Home</span>
        </a>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#add-candidate">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Add Candidate</span>
          </a>
        </div>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#edit-candidate">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Edit Candidate</span>
          </a>
        </div>
      </li>
    
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        <div class="profile_name" id="recruiter-name">Farid Sheikh</div>
        <div class="job">Recruiter</div>
        <div id="currentDate" style="color: aliceblue;"></div>
      </div>
      <i class='bx bx-log-out' id="admin-logout" ></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content home-content-header">
        <div>
            <i class='bx bx-menu' ></i>
            <span class="text">Recruiter Panel</span>
        </div>
      <div class="header-right">
        <img src="/notification.png" alt="notification">
        <img src="/user.png" alt="user">
      </div>
    </div>

    <div id="recruiter-home" class="section">
        
    </div>

    <div id="add-candidate" class="section">
        <form id="add-candidate-form" class="candidate-form">
            <div>
                <h1>Add Candidate</h1>
            </div>
            <div>
                <span>Name : </span>
                <input type="text" name="name" id="name" placeholder="Enter Candidate Name.." required> 
            </div>
            <div>
                <span>Phone : </span>
                <input type="tel" name="phone"  id="phone" pattern="[0-9]{10}">
            </div>
            <div>
                <span>Location : </span>
                <input type="text" name="location" id="location">
            </div>
            <div>
              <span>Status : </span>
              <input type="text" name="status" id="status"  required> 
          </div>
            <div>
                <span>Job Interest : </span>
                <input type="text" name="jobInterest" id="jobInterest">
            </div>

          <div>
            <span>Joined At : </span>
            <input type="date" name="joinedAt" id="joinedAt" max="">
        </div>
        <div>
          <span>isActive : </span>
          <select name="isActive" id="isActive">
            <option value="yes">yes</option>
            <option value="no">no</option>
          </select>
      </div>
            <div>
                <button type="submit" class="btn">Add Candidate</button>
            </div>
        </form>
    </div>
    <div id="edit-candidate" class="section edit-candidate-section">
        <h1>Edit Candidates</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Mobile Number</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Job Interest</th>
                        <th>Joined</th>
                        <th>Active</th>
                        <th>Edit</th>
                    </tr>
                </thead>
            <tbody id="candidateTableBody">
                
            </tbody>
        </table>
        <button style="margin-top:2rem;margin-bottom:2rem;margin-left:2rem" onclick="window.location.reload()">
          Refresh
        </button>
        </div>
    </div>

  </section>
  
  <script src="admin.js"></script>
</body>

<script>
  document.getElementById("joinedAt").max = new Date().toISOString().split('T')[0];
    document.addEventListener('DOMContentLoaded', function () {
      const homeLink = document.querySelector('.nav-links a[href="#recruiter-home"]');
      homeLink.click();
    });

    const searchParams = new URLSearchParams(window.location.search);

    const thisForm = document.getElementById('add-candidate-form');
    thisForm.addEventListener('submit', async function (e) {
        e.preventDefault();
        const formData = new FormData(thisForm).entries()
        const data = Object.fromEntries(formData);
        data['recruiterId'] = searchParams.get('recruiterId');
        const response = await fetch('/add-candidate', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        });

        const result = await response.json();
        console.log(result.res._id)
        window.location.href = `/recruiter.html?recruiterId=${searchParams.get('recruiterId')}#edit-candidate`
        window.location.reload();
    });

    function handleEditClick(candidateId,i) {
      const editedData = {
          name: document.getElementById('cname'+i).value,
          phone: document.getElementById('cnumber'+i).value,
          location: document.getElementById('clocation'+i).value,
          status: document.getElementById('cstatus'+i).value,
          jobInterest: document.getElementById('cInterest'+i).value,
          joinedAt: document.getElementById('cdate'+i).value,
          isActive: document.getElementById('cactive'+i).value,
      };


      if (editedData.phone.length !== 10) {
        alert("Mobile Number must have a length of 10 characters.");
        return;
    }

    
      editedData['candidateId'] = candidateId;
      fetch('/update-candidate', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(editedData)
      })
      .then(response => response.json())
      .then(result => {
          console.log('Updated successfully:', result);
          alert("Updated successfully");
      })
      .catch(error => {
          console.error('Error updating candidate:', error);
      });
  }


  async function LoadRecruiterData(){
    const response = await fetch(`/recruiter-info/${searchParams.get('recruiterId')}`);
    const recruiterData = await response.json();
    const recruiterHomeBody = document.getElementById('recruiter-home');
    recruiterHomeBody.innerHTML = '';
    recruiterHomeBody.innerHTML += `
        <div>
          <span>Name : </span>
          <span>${recruiterData.recruiterInfo.name}</span>
      </div>
      <div>
          <span>Email : </span>
          <span>${recruiterData.recruiterInfo.email}</span>
      </div>
      <div>
        <span>Phone : </span>
        <span>${recruiterData.recruiterInfo.phone}</span>
    </div>
    `;
    const recruiterName = document.getElementById('recruiter-name');
    recruiterName.innerHTML = '';
    recruiterName.innerHTML += `${recruiterData.recruiterInfo.name}`;
  }

    

    async function LoadData(){
      const monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];
        const response = await fetch(`/recruiter-candidates/${searchParams.get('recruiterId')}`);
        const candidateData = await response.json();
        const candidateTableBody = document.getElementById('candidateTableBody');
        for(let i=0;i<candidateData.candidates.length;i++){
            console.log('hi',candidateData.candidates[i]);
            candidateTableBody.innerHTML += `
                    <tr>
                        <td>${candidateData.candidates[i]._id.slice(candidateData.candidates[i]._id.length-3,candidateData.candidates[i]._id.length)}</td>
                        <td><input type="text" name="name" id="cname${i}" value=${candidateData.candidates[i].name}></td>
                        <td><input type="number" name="number" id="cnumber${i}" value=${candidateData.candidates[i].phone}></td>
                        <td><input type="text" name="location" id="clocation${i}" value=${candidateData.candidates[i].location}></td>
                        <td><input type="text" name="status" id="cstatus${i}" value=${candidateData.candidates[i].status}></td>
                        <td><input type="text" name="joinInterest" id="cInterest${i}" value=${candidateData.candidates[i].jobInterest}></td>
                        <td><input type="text" name="date" id="cdate${i}" value=${candidateData.candidates[i].month}></td>
                        <td><input type="text" name="active" id="cactive${i}" value=${candidateData.candidates[i].isActive}></td>
                        <td><button onclick="handleEditClick('${candidateData.candidates[i]._id}',${i})">Edit</button></td>
                    </tr>
            `
    }
    }

    LoadData();
    LoadRecruiterData();

   

</script>

</html>
